/* Centering the .login container both horizontally and vertically */
body, html {
    height: 100%;
    margin: 0;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%; 
    margin: 0; 
    box-sizing: border-box;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    position: relative;
    width: auto; 
}

.login-container > legend {
    font-size: 24px;
    color: #333333;
    padding: 0 10px;
    text-align: center;
    background-color: #fff; /* Match the background to create a cutout effect */
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    top: -15px; /* Adjust this to move the legend above the border */
    left: 15%;
    transform: translateX(-50%);
    font-weight: bold;
}

/* Existing styles for the login button */
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffffff; /* Light color background */
    border: 2px solid #dcdcdc; /* Light border */
    border-radius: 5px;
    font-size: 16px;
    color: #333333; /* Darker text color for contrast */
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#login:hover {
    background-color: #f1f1f1; /* Slightly darker on hover */
    border-color: #c0c0c0; /* Darker border on hover */
}

.google-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px; /* Space between icon and text */
}

#login:active {
    background-color: #e1e1e1; /* Even darker on click */
    border-color: #a0a0a0; /* Darker border on click */
}

#login img {
    display: inline-block;
    vertical-align: middle;
}

#login:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(66, 133, 244, 0.5); /* Focus ring in Google blue */
}
