<main></main>

<div class="reservations-container">
  <h1>Reserve a slot for the next 7 days:</h1>
  <h2 *ngIf="isLoading">Loading...</h2>
  <div class="reservations-grid">
    <div class="slot-container" *ngFor="let slot of slots">
      <p>{{ slot.date }} {{ slot.time }} ({{ slot.reservationCount }}/{{ slot.totalSlots }})</p>
      <button 
        [disabled]="!slot.available && !slot.reservedByUser" 
        (click)="slot.reservedByUser ? cancelReservation(slot.date, slot.time) : reserveSlot(slot.date, slot.time)">
        {{ slot.reservedByUser ? 'Cancel Reservation' : 'Reserve' }}
      </button>
    </div>
  </div>
</div>