<nav class="navbar">
    <div class="navbar-brand">
        <img src="chef.svg" alt="Brand Logo" />
        <span>StickyJoco</span>
    </div>

    <ul class="navbar-links" id="navbar-links">
        <li [ngClass]="{'active': isActive('/home')}"><a href="/home">
            <img src="order.svg" alt="Order Icon" />
            <span>Home</span>
        </a></li>
        <li [ngClass]="{'active': isActive('/profile')}"><a href="/profile">
            <img src="profile.svg" alt="Profile Icon" />
            <span>Profile</span>
        </a></li>
        <li [ngClass]="{'active': isActive('/about')}"><a href="/about">
            <img src="about.svg" alt="About Us Icon" />
            <span>About Us</span>
        </a></li>
        <li class="separator"></li>
        <li><a href="#">
            <img src="logout.svg" alt="Log out Icon" />

        </a></li>
    </ul>
</nav>
