main {
  max-width: 50rem; /* Ograničava širinu glavnog sadržaja na 50rem */
  margin: 0 auto; /* Centriranje glavnog sadržaja */
  margin-top: 5rem; /* Vrhunski margina */
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.img{
  max-width: 40%; /* Maksimalna širina slike */
}

.row{
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  max-width: 80%;
  margin: 0 auto; /* Centriranje paragrafa */
  background-color: #F2BB76; /* Tamnija pozadina */
  border-radius: 0.25rem;
}

.row2{
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  max-width: 80%;
  margin: 0 auto; /* Centriranje paragrafa */
  border-radius: 0.25rem;
}


.intro {
  text-align: center; /* Centriranje teksta */
  margin-bottom: 2rem; /* Donji razmak između sekcija */
}

.intro h1 {
  padding-top: 1%;
  color: #000000; /* Boja za naslov */
  font-size: 3rem; /* Veća veličina fonta za naslov */
  font-weight: bold;
}

.intro .restaurant-image {
  display: block;
  margin: 1.25rem auto;
  max-width: 80%; /* Maksimalna širina slike */
  border-radius: 0.5rem; /* Zaobljeni uglovi slike */
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1); /* Sjena */
}

.intro p {
  color: #000000; /* Boja za tekst */
  font-size: 1.3rem;
  line-height: 1.5; /* Prostor između linija */
  margin: 0 auto; /* Centriranje teksta */
  max-width: 80%; /* Maksimalna širina teksta */
}

.location, .contact, .delivery {
  padding: 1%;
  margin: 1%;
  background-color: #F2BB76; /* Tamnija pozadina */
  width: 33%;
  height: 100%;
  font-size: 1rem;
  line-height: 1.5; /* Prostor između linija */
  color: #000000; /* Boja za tekst */
  border-radius: 0.25rem;
  text-align: center;

}

h2 {
  color: #000000; /* Boja za naslove sekcija */
  margin-bottom: 1rem; /* Donji margina */
  font-size: 1.5rem; /* Veličina fonta za naslove sekcija */
}

a {
  color: #000000; /* Boja za linkove */
  text-decoration: none; /* Uklanjanje podcrtavanja linkova */
  font-weight: bold;
}

a:hover {
  text-decoration: underline; /* Dodavanje podcrtavanja prilikom hover-a */
}

.download-container {
  text-align: center; /* Centriranje dugmeta */
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.download-button {
  background-color: #ffffff; /* Pozadina dugmeta */
  color: #000000; /* Boja teksta */
  border: none;
  border-radius: 0.25rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none; /* Uklanjanje podcrtavanja linka */
  display: inline-block; /* Inline blok za dugme */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #ffffff; /* Tamnija pozadina */
}

@media (max-width: 600px) {
  .location, .contact, .delivery {
    font-size: 0.75rem; /* Manja veličina fonta na manjim ekranima */
  }
  .row {
    padding-top: 4%;
    flex-direction: column;
  }
  h2 {
    font-size: 160%;
  }
}
