<main></main>

<div class="intro">
    <div class="column">
      <h1>Dino's Diner</h1>
      <div class="download-container">
        <a href="menu-sample.pdf" download="menu.pdf" class="download-button">Download Menu</a>
      </div>
    </div>
    <div class="row">
        <div class="column">   
            <h2 class>Welcome to Dino's Diner, where we serve delicious, home-cooked meals in a warm and welcoming atmosphere. </h2>
            <p>Established in 1995, our diner has been a local favorite for years, offering classic dishes with a modern twist.</p>
        </div>
        <img src="inside.png" alt="Dino's Diner" class="restaurant-image" />
    </div>
  </div>

  <div class = "row2">
    <div class="location">
      <h2>Location</h2>
      <p>31000, Osijek </p>
      <p>Ulica Kralja Zvonimira 123456</p>
    </div>

    <div class="contact">
      <h2>Contact</h2>
      <p>Email: di&#64;ner.com</p>
      <p>Phone: +1 234-567-890</p>
    </div>

    <div class="delivery">
      <h2>Delivery</h2>
      <p>Delivery services: </p>
      <p>5 km within our location</p>
    </div>
  </div>